<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="" content="" />
    <title>Stumble upon your life!</title>
    <!--favicon-->
    <link rel="icon" href="public/assets/images/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap core CSS-->
    <link href="public/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- icons-->
    <link href="public/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="public/assets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="public/assets/css/app-style.css" rel="stylesheet" />
  </head>

  <body class="bg-theme bg-theme1">
    <!-- Start wrapper-->
    <div id="wrapper">
      <!--Start sidebar-wrapper-->
      <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
        <div class="brand-logo">
          <a href="/">
            <img src="public/assets/images/logo-icon.png" class="logo-icon" alt="logo icon" />
            <h5 class="logo-text"></h5>
          </a>
        </div>
        <ul class="sidebar-menu do-nicescrol">
          <li class="sidebar-header">Navigation</li>
          <li>
            <a href="/"> <i class="zmdi zmdi-view-dashboard"></i> <span>Serendipity Generator</span> </a>
          </li>
          <% if (userLogged) { %>
          <li>
            <a href="/profile"> <i class="zmdi zmdi-face"></i> <span>Profile</span> </a>
          </li>
          <% } if (!userLogged) { %>
          <li>
            <a href="/login"> <i class="zmdi zmdi-lock"></i> <span>Login</span> </a>
          </li>

          <li>
            <a href="/register"> <i class="zmdi zmdi-account-circle"></i> <span>Registration</span> </a>
          </li>
          <% } %>
        </ul>
      </div>
      <!--End sidebar-wrapper-->

      <!--Start topbar header-->
      <header class="topbar-nav">
        <nav class="navbar navbar-expand fixed-top">
          <ul class="navbar-nav mr-auto align-items-center">
            <li class="nav-item">
              <a class="nav-link toggle-menu" href="javascript:void();">
                <i class="icon-menu menu-icon"></i>
              </a>
            </li>
          </ul>
          <% if (userLogged) { %>
          <ul class="navbar-nav align-items-center right-nav-link">
            <li class="nav-item">
              <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                <span class="user-profile"
                  ><img src="https://via.placeholder.com/110x110" class="img-circle" alt="user avatar"
                /></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-item user-details">
                  <a href="javaScript:void();">
                    <div class="media">
                      <div class="avatar">
                        <img
                          class="align-self-start mr-3"
                          src="https://via.placeholder.com/110x110"
                          alt="user avatar"
                        />
                      </div>
                      <div class="media-body">
                        <h6 class="mt-2 user-title"><%= userLogged.username %></h6>
                        <p class="user-subtitle"><%= userLogged.email %></p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Account</li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"><i class="icon-power mr-2"></i> Logout</li>
              </ul>
            </li>
          </ul>
          <% } %>
        </nav>
      </header>
      <!--End topbar header-->

      <div class="clearfix"></div>
      <div class="content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-lg-8 col-xl-8">
              <div class="card">
                <div class="card-header">
                  <h2>Generator</h2>
                  <div class="card-action"></div>
                </div>
                <div class="card-body container">
                  <form
                    action="/requestActivity"
                    method="POST"
                    id="requestActivity"
                    onsubmit="subButton.disabled = true; return true;"
                  >
                    <div class="card-header">
                      <h5>Creativity</h5>
                      <input
                        class="card-body slider"
                        type="range"
                        value="50"
                        step="10"
                        min="0"
                        max="100"
                        form="requestActivity"
                        name="creativity"
                        id="inputCreativity"
                      />
                    </div>
                    <div class="card-header">
                      <h5>Inside, outside, or no preference?</h5>
                      <div class="card-body">
                        <input form="requestActivity" value="outside" type="radio" name="environment" />
                        <label for="outside">Outside</label>
                        <input form="requestActivity" value="inside" type="radio" name="environment" />
                        <label for="inside">Inside</label>
                        <input form="requestActivity" value="any" type="radio" name="environment" checked />
                        <label for="both">Any</label>
                      </div>
                    </div>
                    <div class="card-header">
                      <h5>How many are you?</h5>
                      <input
                        id="inputFriends"
                        type="range"
                        value="1"
                        step="1"
                        max="4"
                        min="1"
                        class="card-body slider nopad"
                        form="requestActivity"
                        name="numFriends"
                        list="inputFriends"
                      />
                      <datalist class="datalistshort" id="inputFriends">
                        <option value="1" label="1"></option>
                        <option value="2" label="2"></option>
                        <option value="3" label="3"></option>
                        <option value="4" label="+"></option>
                      </datalist>
                    </div>
                    <div class="card-header">
                      <h5>What do you usually like?</h5>
                      <input
                        class="form-control shorter-input"
                        form="requestActivity"
                        type="text"
                        id="addInfo"
                        name="moreInfo"
                        maxlength="100"
                      />
                    </div>
                    <div class="card-header">
                      <h5>How many ideas?</h5>
                      <input
                        id="inputAct"
                        type="range"
                        value="1"
                        step="1"
                        max="3"
                        min="1"
                        class="card-body slider nopad"
                        form="requestActivity"
                        name="inputAct"
                        list="marks"
                      />
                      <datalist class="datalistshort" id="marks">
                        <option value="one" label="1"></option>
                        <option value="two" label="2"></option>
                        <option value="three" label="3"></option>
                      </datalist>
                    </div>
                    <button class="btn btn-primary btn-lg" name="subButton" form="requestActivity" type="submit">
                      Serendipity!
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <% if (pushAnswer.length > 0) { %>
            <div class="col-12 col-lg-4 col-xl-4">
              <div class="card">
                <div class="card-header">Suggestions</div>
                <div class="card-body">
                  <% for (let i = 0; i < pushAnswer.length; i++) { %>
                  <div class="card-header">
                    <h5 data-id="<%= i %>">
                      <% if (userLogged) {%><i class="fa fa-heart-o lg"><% } %></i> <%= pushAnswer[i][0] %>
                    </h5>
                    <p data-id="<%= i %>"><%= pushAnswer[i][1] %></p>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
            <% } %>
          </div>
          <!--End Row-->

          <!--start overlay-->
          <div class="overlay toggle-menu"></div>
          <!--end overlay-->
        </div>
        <!-- End container-fluid-->
      </div>
      <!--End content-wrapper-->
      <!--Start Back To Top Button-->
      <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
      <!--End Back To Top Button-->

      <!--Start footer-->
      <footer class="footer">
        <div class="container">
          <div class="text-center">©2023 Serendipity Generator</div>
        </div>
      </footer>
      <!--End footer-->
    </div>
    <!--End wrapper-->

    <!-- Bootstrap core JavaScript-->
    <script src="public/assets/js/jquery.min.js"></script>
    <!-- <script src="public/assets/js/popper.min.js"></script> -->
    <script src="public/assets/js/bootstrap.min.js"></script>
    <!-- sidebar-menu js -->
    <script src="public/assets/js/sidebar-menu.js"></script>
    <!-- Custom scripts -->
    <script src="public/assets/js/app-script.js"></script>
    <!-- Index js -->
    <script src="public/assets/js/index.js"></script>
  </body>
</html>
